html, body {
    height: 100%;
    width: 100%;
    background-color: aquamarine;
}

header {
    height: 10%;
    width: 100%;
    padding: 0%;
}

header nav {
    background-color: aquamarine;
}
header a {
    color: black;
    margin-left: 10%;
}
canvas { 
    background-color: aliceblue;
    border: 1px solid black; 
    height: 80%;
    width: 99%;
    margin-left: 0.5%;
}

footer {
    height: 10%;
    width: 100%;
}